.article + .article {
  margin-top: 30px;
}

.article .footer {
  margin-top: 10px;
  font-size: 11px;
  color: #999;
}

.article .read-more {
  display: inline-block;
  padding-right: 10px;
  margin-top: 5px;
}

.article .brief {
  margin-top: 10px;
  padding-left: 5px;
  color:#333;
}

.article .footer a {
  color:#39c;
}

.article time {
  margin-right: 8px;
}

.article .footer stencil-route-link {
  margin-left: 10px;
}

.article h2 a {
  color: #323232;
  font-size: 22px;
  font-weight: normal;
}

.article .icon-comment {
  margin-right: 5px;
}